# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs

# This file is for a project with a mix of C# and VB.NET

# Apply to all files
[*]
# Set tab width to 4 spaces
indent_style = space
indent_size = 4

# C# files
[*.cs]
dotnet_naming_rule.private_members_with_underscore.symbols  = private_fields
dotnet_naming_rule.private_members_with_underscore.style    = prefix_underscore
dotnet_naming_rule.private_members_with_underscore.severity = suggestion
 
dotnet_naming_symbols.private_fields.applicable_kinds           = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private
 
dotnet_naming_style.prefix_underscore.capitalization = camel_case
dotnet_naming_style.prefix_underscore.required_prefix = _

# Specify the rules for C# files
# Enforce underscore as a prefix for field names
dotnet_naming_style.field_names = _<Name>
dotnet_naming_symbols.field = private, protected, internal, public
dotnet_naming_rules.field_name_required_prefix.suffix = true
